#gallery {
  width: 100%;
  height: 100%;
}

#photo-gallery-container {
  width: 100%;
  height: 100%;
  background-color: #111;
  text-align: center;
}

#left-pane {
  height: 100%;
  width: 15%;
  float: left;
}

#photo-gallery {
  width: 70%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
}

#right-pane {
  height: 100%;
  width: 15%;
  float: left;
}

.photo {
  outline: 0;
  max-width: 100%;
  max-height: 90%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0 0;
  width: 30%;
}

.atleft {
  left: 0;
  right: 0;
}

.atcenter {
  left: 270px;
  right: 0;
}

.atright {
  right: 0;
  left: 550px;
}

/* creds to Kushagra Agarwal @ cssdeck */
#prev-btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin: auto;

    width: 10px;
    height: 10px;
    border: solid #333;
    border-width: 6px 6px 0 0;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin: 8px 0 0 5px;
}

#prev-btn:hover {
  border: solid #FFF;
  border-width: 6px 6px 0 0;
}

/* creds to Kushagra Agarwal @ cssdeck */
#next-btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin: auto;

    width: 10px;
    height: 10px;
    border: solid #333;
    border-width: 6px 6px 0 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 8px 0 0 5px;
}

#next-btn:hover {
  border: solid #FFF;
  border-width: 6px 6px 0 0;
}
