body, html {
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

#photo-gallery-container {
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    text-align: center;
}

#photo-gallery {
    margin: 0px auto;
    width: 800px;
    height: 500px;
    overflow: hidden;
}

@-webkit-keyframes enter {
  from {margin-left: -900px;}
  to {margin-left: 0px;}
}

@-webkit-keyframes leave {
  from {margin-right: 0px;}
  to {margin-right: -900px;}
}

.photo {
    color: blue;
}

.enter {
    -webkit-animation: enter 3s;
}

.leave {
    -webkit-animation: leave 3s;
}

#next-btn {
}
