body, html {
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

#photo-gallery-container {
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    text-align: center;
}

#photo-gallery {
    width: 70%;
    height: 100%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;

}

@-webkit-keyframes enter {
  from {-webkit-transform: translate(-1500px, 0px);}
  to {-webkit-transform: translate(0px, 0px);}
}

@-webkit-keyframes leave {
  from {-webkit-transform: translate(0px, 0px);}
  to {-webkit-transform: translate(0px, -1500px);}
}

.photo {
    width: 50%;
    display: inline-block;
}

.enter {
    -webkit-backface-visibility: hidden;
    -webkit-animation: enter 3s forwards;
}

.leave {
    -webkit-animation: leave 3s forwards;
}

#next-btn {
  color: white;
  background-color: black;
  border: white;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  vertical-align: middle;
}
