.navigation-container {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #efeff0;
}

.banner-container {
  margin-left: 20px;
  flex: 1;
}

.banner {
  font-family: 'Poiret One';
  font-size: 200%;
  color: #111;
  margin: 0;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}

.nav li a {
  padding: .5em;
  color: #d95e40;
  font-family: 'Poiret One';
  font-size: 200%;
}

.nav a:hover {
  color: #555;
}

.nav li.active a {
  color: #555;
}
