#bio-container {
    width: 100%;
    height: 100%;

    position: relative;

    background-color: #111;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bio {
    width: 70%;
    height: 30%;

    position: absolute;
    top: 0;
    bottom: 25%;
    left: 0;
    right: 0;
    margin: auto;

    color: #666;
    background-color: #0B0B0B;
    border-radius: 5px;
    border: 2px solid black;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;

    overflow: hidden;
}

#bio-liner {
    width: 100%;
    height: 100%;
    border-left: .5em solid #464368;
    padding: .5em;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#selfie {
    outline: 0;
    max-height: 100%;
    max-width: 50%;
    position: relative;
    float: left;
}

#info-container {
    height: 100%;
    padding-left: .5em;
    overflow: hidden;
}

#about-container {
    height: 50%;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;

    overflow:hidden;
}

#about {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

@font-face {
    font-family: 'Entypo';
    src: url('/fonts/entypo/entypo.woff'); format('woff'),
         url('/fonts/entypo/entypo.tff'); format('truetype');
}


@font-face {
    font-family: 'Entypo Social';
    src: url('/fonts/entypo_social/entypo-social.woff'); format('woff'),
         url('/fonts/entypo_social/entypo-social.tff'); format('truetype');
}

.share-container {
    height: 50%;
    font-family: 'Entypo', 'Entypo Social';
    font-size: 400%;
    color:  #464368;
}

.share-bar {
    display: table;
    table-layout: fixed;
    height: 100%;
}

.share {
    display: table-cell;
    border: 1px solid  #464368;
}
