div {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bio-container {
    width: 100%;
    height: 100%;

    position: relative;

    background-color: #111;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bio {
    width: 70%;
    max-width: 736px;
    height: 33%;

    position: absolute;
    top: 0;
    bottom: 25%;
    left: 0;
    right: 0;
    margin: auto;

    color: #666;
    background-color: #0B0B0B;
    border-radius: 5px;
    border: 2px solid black;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bio-liner {
    width: 100%;
    height: 100%;
    border-left: .5em solid #464368;
    border-radius: 5px;
    padding: .5em;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#selfie {
    outline: 0;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    float: left;
}

#info-container {
    height: 100%;
    padding-left: .5em;
    overflow: hidden;
}

.about-container {
    height: 50%;
    padding-right: 20px;
}

.about-container .scroll-content {
    transform: translate3d(20px, 0px, 0px);
}

.about-container .scroll-track {
    right: 5px;
    padding-top: .3em;
    padding-bottom: 0;
}

.about-container .scroll-bar {
    height: 20%;
}

.about-container .scroll-header {
    background: none;
    height: 0;
}

.about-container .scroll-footer {
    background: none;
    height: 0;
}

#about {
    margin: 0;
    font-family: 'Lato', sans-serif;

    height: 100%;
    width: 100%;
}

.shares-container {
    height: 50%;
    padding-top: .1em;
}

.shares {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.share {
    width: 20%;
    height: 50%;
    margin: auto;
}

.share-link {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;

    background-color: #111;
    border: 1px solid black;
}

.share-link:hover {
    transition: color .3s;
    transition: border .4s;
    color: black;
    background-color: #111;
    border: 1px solid #464368;
}

.icon-share {
    margin: auto;
    font-size: 3.3vmin;
}
