#blog-gallery-container {
  width: 100%;
  height: 100%;
  background-color: #111;
  text-align: center;
  overflow: hidden;
}

#blog-gallery {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid green;
  margin-left: auto;
  margin-right: auto;
}

#post-list {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    padding-right: 20px;
    transform: translate3d(8px, 0, 0);
}

.post {
    background-color: #F5F5DC;
    color: black;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 1em;
}

.post .blog-photo img {
    max-width: 100%;
    max-height: 100%;
}
