#blog-gallery-container {
  width: 100%;
  height: 100%;
  background-color: #111;
  text-align: center;
}

#left-pane {
  height: 100%;
  width: 15%;
  float: left;
}

#blog-gallery {
  width: 70%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
}

#right-pane {
  height: 100%;
  width: 15%;
  float: left;
}

.post {
    background-color: #F5F5DC;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1em;
}

.post .blog-photo img {
    max-width: 100%;
    max-height: 100%;
}

#post-list {
    color: black;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.scroll {
