#blog-gallery-container {
  width: 100%;
  height: 100%;
  background-color: #111;
  text-align: center;
  overflow: hidden;
}

.blog-gallery {
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

#post-list {
    padding-top: 1em;
}

.post {
    font-family: 'Lato',sans-serif;
    color: #666;
    background-color: #0B0B0B;
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 1em;
    text-align: left;
}

.blog-photo {
    max-width: 100%;
    position: relative;
}

.post .blog-photo img {
    max-width: 100%;
}

@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon/icomoon.woff') format('woff'),
         url('/fonts/icomoon/icomoon.ttf') format('truetype');
}

.posts-nav {
    height: auto;
    width: 100%;
    display: flex;
    padding: 1em;
}

.posts-nav div {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.prev {
    transition: border .3s;
}

.prev:hover {
    border: 2px solid black;
    transition: border .5s;
}

.prev:hover .icon-nav {
    opacity: 1;
    transition: opacity .3s;
}

.next {
    transition: border .3s;
}

.next:hover {
    border: 2px solid black;
    transition: border .5s;
}

.next:hover .icon-nav {
    opacity: 1;
    transition: opacity .3s;
}

.icon-nav {
    position: relative;
    top: 1px;
    font-size: 2.5vw;
    margin: 0;
    color: #666;
    opacity: 0;
}

.top {
    border: 2px solid black;
    background-color: #0B0B0B;
}

.page {
   display: table-cell;
   vertical-align: middle;
   font-family: 'Lato', 'icomoon', sans-serif;
   color: #666;
   font-size: 2vw;
   opacity: 0;
}

.fadein {
    transition: opacity .5s;
    opacity: 1;
}

.prev {
    border: 2px solid #464368;
}

.next {
    border: 2px solid #464368;
}

.blog-photo-img {
    opacity: 0;
}

.loaded {
  transition: opacity .3s;
  opacity: 1;
}
