#gallery {
  width: 100%;
  height: 100%;
}

#photo-gallery-container {
  width: 100%;
  height: 100%;
  background-color: #111;
  text-align: center;
}

#left-pane {
  height: 100%;
  width: 15%;
  float: left;
}

#photo-gallery {
  width: 70%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
}

#right-pane {
  height: 100%;
  width: 15%;
  float: left;
}

.frame {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 1em;

    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
}

.photo {
  outline: 0;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
}

.left {
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
}

.center {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.right {
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
}

.hidden {
  display: none;
}

.disabled {
    pointer-events: none;
}

/* creds to Kushagra Agarwal @ cssdeck */
#prev-btn {
    display: inline-block;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
}

#prev-arrow {
    margin: 0;
    font-size: 500%;
    color: #333;
}

#prev-arrow:hover {
  color: #FFF;
}

/* creds to Kushagra Agarwal @ cssdeck */
#next-btn {
    display: inline-block;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
}

#next-arrow {
    margin: 0;
    font-size: 500%;
    color: #333;
}

#next-arrow:hover {
  color: #FFF;
}
