#gallery {
  width: 100%;
  height: 100%;
}

#photo-gallery-container {
  width: 100%;
  height: 100%;
  background-color: #111;
  text-align: center;
  box-sizing: border-box;
  padding-top: 1em;
  padding-bottom: .5em;
}

#left-pane {
  height: 100%;
  width: 15%;
  float: left;
}

#photo-gallery {
  width: 70%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;

  background-color:  #0B0B0B;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 5px;
}

#photo-gallery .frame img {
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity: 2s;
}

#photo-gallery.loaded .frame img {
    opacity: 1;
}

#right-pane {
  height: 100%;
  width: 15%;
  float: left;
}

.frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 1em;

    transition: transform 1s, opacity 2s;
    -webkit-transition: -webkit-transform 1s, opacity 2s;
}

.photo {
  outline: 0;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
}

.left {
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    opacity: 0;
}

.center {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
}

.right {
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    opacity: 0;
}

.hidden {
  display: none;
}

.disabled {
    pointer-events: none;
}

.btn {
    display: inline-block;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
}

.arrow {
    margin: 0;
    font-family: 'icomoon', sans-serif;
    font-size: 333%;
    color: #333;
}

.arrow:hover {
  color: #FFF;
}

.arrow:active {
    color: #FFF;
}
