body
{
    background-color: #3B3B3B;
    text-align: center;
}

#header
{
    width: 100%;
    height: 50px;

    clear: both;

    background-color: #000000;
}

#index
{
    list-style: none;
    text-align: center;
    background-color: black;
}

.chapter
{
    display: inline;
    margin: 0px 25px;
    color: #3B3B3B;
}
.chapter:hover { color: #FFFFFF; }


#content
{
    width: 50%;
    height: 500px;
    margin: 20px auto;
    padding: 10px;

    clear: both;

    background-color: #000000;
}

#footer
{
    width: 100%;
    height: 50px;

    clear: both;

    background-color: #000000;
}


