/* orange: #ff8307 */

a {
    outline: none;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#underwear {
    height: 100%;
    margin: auto;
    position: relative;
}

#static-header {
  width: 100%;
  height: 77px;
  background-color: #111;
}

#dynamic-content {
    position: absolute;
    top: 77px;
    bottom: 0px;

    width: 100%;
    background-color: #111;
    clear: both;
}

#blog-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#blog {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 20%;
  margin: auto;
  color: white;
  text-align: center;
}

#gallery {
  color: white;
}
