// bg = background
$color-bg-silver1: #efeff0;
$color-bg-silver2: #222222;
$color-orange1: #d95e40;

@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon/icomoon.woff') format('woff'),
         url('/fonts/icomoon/icomoon.ttf') format('truetype');
}
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-4017vr');
	src:url('fonts/icomoon.eot?#iefix-4017vr') format('embedded-opentype'),
		url('fonts/icomoon.woff?-4017vr') format('woff'),
		url('fonts/icomoon.ttf?-4017vr') format('truetype'),
		url('fonts/icomoon.svg?-4017vr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  outline: none;
  text-decoration: none;
  display: block;
}

a:hover {
  color: #333333;
}

div, ul, ol, li, img, p, br, a {
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#app-container {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#app-body {
  flex: 1;
}

.loader {
  font-size: 7px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-indent: -9999em;
  border-top: .5em solid rgba(255, 255, 255, 0.2);
  border-right: .5em solid rgba(255, 255, 255, 0.2);
  border-bottom: .5em solid rgba(255, 255, 255, 0.2);
  border-left: .5em solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.off {
    opacity: 0;
    display: none;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-nav {
    position: relative;
    top: 1px;
    font-size: 2.5vw;
    margin: 0;
    color: #666;
    opacity: 0;
}

.loaded {
  transition: opacity .3s;
  opacity: 1;
}

.hidden {
  display: none;
}

.disabled {
    pointer-events: none;
}

.btn {
    display: inline-block;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
}

.navigation-container {
  width: 100%;
  min-height: 70px;
  max-height: 70px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: $color-bg-silver1;
  border-bottom: 1px solid #777;
}

.banner-container {
  margin-left: 20px;
  flex: 1;
}

.banner {
  font-family: 'Poiret One';
  font-size: 200%;
  color: #111;
  margin: 0;
}

.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}

.nav li a {
  padding: .5em;
  color: $color-orange1;
  font-family: 'Poiret One';
  font-size: 200%;
}

.nav a:hover {
  color: #555;
}

.nav li.active a {
  color: #555;
}

// Bio

#bio-container {
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    background-color: $color-bg-silver2;
    box-sizing: border-box;
}

#bio {
    width: 90%;
    max-width: 999px;

    border-radius: 5px;
    background-color: $color-bg-silver1;
    color: #111;
}

#bio-liner {
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: row;
    border-left: 1em solid #d95e40;
    border-radius: 5px;
    background-color: rgba($color-bg-silver2, .9)
}

#selfie {
    outline: 0;
    height: 100%;
    width: 100%;
    min-height: 500px;
    max-height: 700px;
    flex-grow: 1;
    margin: 2em;
    border-radius: 5px;
}

#info-container {
    display: flex;
    flex-direction: column;
    background: $color-bg-silver1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.about-container {
    padding: 2em;
    font-size: 16px;
    border-top-right-radius: 5px;

}

#about {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.shares-container {
    height: 30%;
    border-bottom-right-radius: 5px;
}

.shares {
    height: 100%;
    margin: 0;
    padding: 2em;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.share {
    width: 30%;
}

a.share-link,
.share-link {
    display: flex;
    margin: 0;
    padding: 1em;
    width: 100%;
    height: 100%;

    background-color: $color-bg-silver2;
    color: $color-orange1;
}

.share-link:hover {
    transition: color .3s;
    transition: border .4s;
    border: 1px solid #d95e40;
    background-color: transparent;
}

.icon-share {
    margin: auto;
    font-size: 3.3vmin;
}

// Gallery

#gallery-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    background-color: $color-bg-silver2;
    box-sizing: border-box;
}

#gallery {

}

.categories {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.category {
    padding: 1em;
}

.category-preview {
    max-width: 500px;
    max-height: 1000px;
    width: auto;
    height: auto;
}
