@use 'icon';

// bg = background
$color-bg-silver1: #efeff0;
$color-bg-silver2: #222222;
$color-bg-silver3: #d4d4d4;
$color-orange1: #d95e40;
$width-mobile: 800px;
$height-mobile: 800px;

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
}

a {
    outline: none;
    text-decoration: none;
    display: block;
}

a, a:hover, a:visited, a:active {
    color: inherit;
}

div, ul, ol, li, img, p, br, a {
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#app-container {
    min-height: 100vh;
    width: 100%;
}

#app {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#app-body {
    flex: 1;
}

#nav-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 250px;
    background-color: $color-bg-silver2;
}

@media screen and (max-width: $width-mobile), (max-height: $height-mobile) {
    #nav-page {
        padding: 0;
        padding-top: 71px;
    }
}

.loader {
    font-size: 7px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-indent: -9999em;
    border-top: .5em solid rgba(255, 255, 255, 0.2);
    border-right: .5em solid rgba(255, 255, 255, 0.2);
    border-bottom: .5em solid rgba(255, 255, 255, 0.2);
    border-left: .5em solid #ffffff;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.off {
    opacity: 0;
    display: none;
}

.icon-nav {
    position: relative;
    top: 1px;
    font-size: 2.5vw;
    margin: 0;
    color: #666;
    opacity: 0;
}

.loaded {
    transition: opacity .3s;
    opacity: 1;
}

.hidden {
    display: none;
}

.disabled {
    pointer-events: none;
}

.btn {
    cursor: pointer;
}

.navigation-container {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #1a1a1a;
    border-right: 1px solid #444;
    position: fixed;
    left: 0;
    top: 0;
}

.banner-container {
    padding: 2rem 1rem;
    border-bottom: 1px solid #444;
}

.banner {
    font-family: 'Lato';
    font-size: 200%;
    color: #a4a4a4;
    margin: 0;
}

.nav {
    list-style-type: none;
    padding: 2em 0;
    margin: 0;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

.nav .nav-items {
    padding: 0em 2em;
}

.nav .nav-item a {
    padding: .5em;
    color: $color-bg-silver1;
    font-family: 'Lato';
    font-size: 22px;
}

.nav a:hover {
    color: #555;
}

.nav .nav-item.active a {
    color: $color-orange1;
}

@media screen and (max-width: $width-mobile), (max-height: $height-mobile) {
    .navigation-container {
        width: 100vw;
        height: auto;
        background: rgba(#1a1a1a, .9);
        border-right: none;
    }
    .banner-container {
        padding: 1rem;
        height: 71px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .banner {
        font-size: 140%;
    }
    .icon-menu {
        color: #d4d4d4;
        font-size: 30px;
        margin-right: 1rem;
        margin-left: 1rem;
        align-self: flex-start;
    }
    .nav {
        display: none;
        overflow-y: auto;
    }
}

@media screen and (min-width: $width-mobile) and (min-height: $height-mobile) {
    .navigation-container .icon-menu {
        display: none;
    }
}

.navigation-container.mobile-show {
    .nav {
        display: flex;
        width: 100vw;
        height: calc(100vh - 70px);
        opacity: 95%;
    }
    .nav-items {
        text-align: right;
    }
}

// Bio

#bio-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;

    background-color: $color-bg-silver2;
}

#bio {
    width: 90%;
    max-width: 1200px;
    margin: 2rem;

    border-radius: 7px;
    color: #111;
}

#bio-liner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    #bio-liner {
        flex-direction: column;
        align-items: center;
    }
}

#selfie {
    outline: 0;
    height: 100%;
    width: 100%;
    min-height: 300px;
    max-height: 700px;
    max-width: 300px;
    flex-grow: 1;
    margin: 2em;
    border-radius: 2em;
    display: block;
}

@media screen and (max-width: 900px), (max-height: $height-mobile) {
    #selfie {
        width: auto;
        min-height: 200px;
        height: 50vw;
        max-height: 300px;
    }
    #bio {
        margin: 1rem;
    }
}

#info-container {
    display: flex;
    flex-direction: column;
    color: $color-bg-silver3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.about-container {
    padding: 2em;
    font-size: 20px;
    border-top-right-radius: 5px;

}

@media screen and (max-width: $width-mobile) {
    .about-container {
        padding: 1em;
    }
}

#about {
    margin: 0;
}

.shares-container {
    height: 30%;
    border-bottom-right-radius: 5px;
}

.shares {
    height: 100%;
    margin: 0;
    padding: 2em;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.share {
    width: 30%;
    margin-right: 1em;
}

@media screen and (max-width: 600px) {
    .share {
        width: 50%;
    }
}

.share:last-child {
    margin-right: 0;
}

a.share-link,
.share-link {
    display: flex;
    margin: 0;
    padding: 1em;
    width: 100%;
    height: 100%;

    color: $color-orange1;
    border: 1px solid $color-orange1;
    border-radius: 4px;
}

.share-link:hover {
    transition: color .3s;
    transition: border .4s;
    border: 1px solid #d95e40;
    background-color: transparent;
}

.icon-share {
    margin: auto;
    font-size: 3.3vmin;
}

// Gallery

.sub-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $color-bg-silver3;
    font-size: 30px;
    padding: 2rem;
}

@media screen and (max-width: $width-mobile) {
    .sub-nav {
        padding: 1rem .5rem;
    }
}

.sub-nav-title {
    margin-left: .5em;
    margin-right: 1em;
    height: 30px;
}

#gallery-container {
    width: 100%;
    min-height: 100%;

    background-color: $color-bg-silver2;
    display: flex;
    flex-direction: column;
}

.categories {
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: center;
}

@media screen and (max-width: $width-mobile) {
    .categories {
        padding: 0;
    }
}

.category-list {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.category-list.wide {
    .category-preview {
        max-width: 100%;
    }
}

.category {
    padding: 1em;
}

.category-link {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.category-preview {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.category-name {
    color: $color-bg-silver3;
    padding: .75em;
    font-size: 20px;
    font-family: 'Lato';
    text-align: center;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $color-bg-silver2;
}

.photo-container {
    .sub-nav-title {
        width: 100%;
    }
    .sub-nav-title-bar {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 20px;

        .sep {
            padding-right: 1em;
        }

        .note {
            padding-right: 1em;
            font-size: 18px;
        }

        .inquire {
            border: 1px solid $color-bg-silver1;
            border-radius: 4px;
            padding: .25em 1em;
            color: $color-bg-silver1;
            color: $color-orange1;
            background: none;
            font-size: 16px;
            margin-left: auto;
        }
    }
}

.copyright {
    margin-top: auto;
    padding: 1em;
    font-size: 14px;
    color: #a4a4a4;
}

.photo-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.photo-column .prev-btn {
    font-size: 30px;
    color: #a4a4a4;
    padding: 5vh .5em;
    border: 1px solid #333;
    border-left: none;
    border-radius: 4px;
}

.photo-column .next-btn {
    font-size: 30px;
    color: #a4a4a4;
    padding: 5vh .5em;
    border: 1px solid #333;
    border-right: none;
    border-radius: 4px;
}

@media screen and (max-width: $width-mobile) {
    .photo-column .prev-btn {
        display: none;
    }
    .photo-column .next-btn {
        display: none;
    }
    .photo-column {
        justify-content: center;
    }
}

.photo-wrapper {
    margin: .5em;
}

.photo {
    display: block;
    max-width: 100%;
    width: auto;
    height: 100%;
    max-height: 85vh;
}
