@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?13cw7t');
  src:  url('/fonts/icomoon.eot?13cw7t#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?13cw7t') format('truetype'),
    url('/fonts/icomoon.woff?13cw7t') format('woff'),
    url('/fonts/icomoon.svg?13cw7t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x-altx-alt:before {
  content: "\e907";
}
.icon-cancel:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e907";
}
.icon-x:before {
  content: "\e908";
}
.icon-cancel1:before {
  content: "\e908";
}
.icon-close1:before {
  content: "\e908";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-x-circle:before {
  content: "\e909";
}
.icon-x1:before {
  content: "\e90a";
}
.icon-arrow-with-circle-left:before {
  content: "\e900";
}
.icon-arrow-long-left:before {
  content: "\e901";
}
.icon-arrow-bold-left:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-mail:before {
  content: "\e905";
}
.icon-tumblr1:before {
  content: "\e906";
}
.icon-chevron-left:before {
  content: "\e90b";
}
.icon-chevron-right:before {
  content: "\e90c";
}
.icon-chevron-small-left:before {
  content: "\e90d";
}
.icon-chevron-small-right:before {
  content: "\e90e";
}
.icon-chevron-thin-left:before {
  content: "\e90f";
}
.icon-chevron-thin-right:before {
  content: "\e910";
}
.icon-chevron-with-circle-left:before {
  content: "\e911";
}
.icon-chevron-with-circle-right:before {
  content: "\e912";
}
.icon-triangle-left:before {
  content: "\e913";
}
.icon-triangle-right:before {
  content: "\e914";
}
.icon-circle-with-cross:before {
  content: "\e915";
}
.icon-cross1:before {
  content: "\e916";
}
.icon-help-with-circle:before {
  content: "\e917";
}
.icon-help:before {
  content: "\e918";
}
.icon-menu:before {
  content: "\e919";
}
.icon-paper-plane:before {
  content: "\e91a";
}
.icon-squared-cross:before {
  content: "\e91b";
}
